@charset "EUC-KR";
@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}/*국민연금체*/

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}/*둘기마요고딕체*/

html,body {margin: 0; padding : 0;
background-color: #FFF0CE;
}

.Title {
    background-color: #0C356A;
    text-align: center;
    color : white;
    width: 100%;
    height : 100px;
    margin: 0;
    border-bottom: 5px solid black;
}
.Title h1{margin : 0;}
.Title img {
    width: 90px;
    height: 90px;
    margin-bottom : 5px;
    cursor: pointer;
}

.Title a{
    font-size: 80px;
    font-family: Impact;
    margin : 5px;
    cursor: pointer;
    text-decoration: none;
    color:  inherit;
}
/* Title의 css */

.Menu {
  display: flex;
  justify-content: space-evenly;
  background-color: #0174BE;
  width: 100%;
  height : 60px;
  margin-top: 0;
  padding-top: 10px;
  font-family: NPSfontBold;
}
.Menu a {
  color: #fff;
  font-size: 24px;
  padding: 10px 15px;
  text-decoration: none;
}

.Fixed {
  position: fixed;
  top: 0px;
}
/* Menu의 css와 상단 고정 Fixed */

.music {
  position: fixed;
  width: 300px;
  right: -300px;
  background-color: #FFC436;
  transition: right 0.3s ease;
  font-family: NPSfontBold;
}

.music:hover {
  right: 0;
}
/*music의 css */

.slide {
  position: fixed;
  width: 200px;
  height: 80%;
  left: -200px;
  background-color: #FFC436;
  transition: left 0.3s ease;
  overflow-y: auto;	
  font-family: NPSfontBold;
}
.slide h1 {
  color: black;
  font-size : 25px;
  text-align: center;
}
.slide .slide__list {
	width: 100%;
	padding: 25px 0;
	border-width: 3px 0;
	border-style: solid;
	border-color: black;
	cursor: pointer;
    
}
.slide .slide__list .item {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
  color:  black;
}
.slide .slide__list .item:last-child {
  margin-bottom: 0px;
}
.menuimg{
	width : 130px;
	margin : 5px 10px;
}
/*왼쪽 slide의 css */

.Content {
  width: 65%;
  height : 100%;
  margin: 0 auto;
  background-color : rgb(242, 242, 242);
  transition: background-color 0.3s, color 0.3s;
  border-left : 1px solid;
  border-right : 1px solid;
  border-bottom : 1px solid;
  overflow-y : auto;
  font-family: Dovemayo_gothic;
  font-size : 18px;
}
.Content h2{font-size : 50px; margin : 0;}
.Content iframe{
	width : 100%;
	height : 1000px;
	margin : 0;
	overflow-x:hidden;
	overflow-y:hidden;
}
/* Content의 css */

.JazzMap{
	display : flex;
	justify-content : center;
	align-items: center;
	width : 100%;
	height : 1000px;
}
.JazzMap img{
	height :1000px;
	border : 3px solid;
	cursor: pointer;
}
/* JazzMap의 css */

button{
	position : fixed;
	bottom : 40px;
	right : 10px;
	padding : 5px;
	width : 40px;
	font-size : 20px;
	background-color : black;
	color : white;
	border : 0;
	border-radius: 30px;
	border-radius: 50%;
	cursor : pointer;
}
/*위로 올라가기 버튼의 css*/

footer{
	background-color : #FFC436;
	width : 100%; height : 30px;
	margin : 0;
	position: relative;
  	clear: both;
  	text-align : right;
  	padding-top : 5px;
}

.easteregg{
	margin : 0;
	width : 25px;
	height : 25px;
	cursor: pointer;
}

footer a{
	font-size : 15px;
	cursor: pointer;
    text-decoration: none;
    color:  inherit;
    font-family: Dovemayo_gothic;
}
/* footer의 css */	

body.light-mode {
    transition: background-color 0.3s, color 0.3s;
}

.Content.light-mode {
    background-color: rgb(242, 242, 242);
}

body.dark-mode {
    background-color: #0d1021;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}
.Content.dark-mode {
    background-color: #242b3a;
}

.dark-mode {
	background-color: #0d1021;
	}

.switch {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 34px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
	}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	transition: 0.4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	transform: translateX(46px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.label-text {
	display: inline-block;
	position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 34px;
    color: #000;
    font-family: Comic Sans MS;
}
/* 다크모드의 css */